body{

    margin-left: 200px; 
    margin-right: 200px;
    
          }
       
        table{
            margin: auto;
    }
       
           
                   td{
                      border-bottom : 2px solid lightgrey;
                      
                       padding: 10px 15px;
                   }
                   
                   h1{
                     text-align: center;
                     color: darkblue;
                     text-transform: uppercase;
                     }
           
           h2{  
            color: green;
             text-transform: uppercase;
             }
             h4{
               color: black; 
               }

               h3{
                color: whitesmoke; 
               }

               .test {
                height: 200px;
                width: 105%;
            }


